@import 'vars'

.conditions
	background-color: #fff
	padding: 50px
	&__paragraph
		display: flex
		justify-content: flex-start
		&:not(:first-child)
			margin-top: 2rem
	&__number
		background-color: #5a9ff8
		color: #fff
		margin-right: 1rem
		height: 27px
		flex: 0 0 27px
		max-width: 27px
		display: flex
		align-items: center
		justify-content: center
		text-align: center
	.conditions-list
		padding-left: 45px
		span
			padding: 5px
		img
			margin-right: 5px
			transform: translateY(-1.5px)
